---
import Sidebar from "src/components/Sidebar.vue"
import {ScrollArea} from "src/components/ui/scroll-area";
import SidebarLink from "src/components/SidebarLink.vue";


interface Props {
	title: string;
	heading?: string;
	emojiIcon?: string;
}

const { title, heading, emojiIcon } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-neutral-100">
		<Sidebar>
			<SidebarLink/>
		</Sidebar>
		<div class="ml-56 bg-background rounded-xl min-h-screen mt-4 border border-transparent lg:border-neutral-200">
			<main class="max-w-4xl w-full mx-auto py-20 px-4 md:px-10 overflow-x-hidden">
				<div class="mb-6">
					<span class="text-4xl">
						{emojiIcon}
					</span>
					<h1 class="mt-2 text-base md:text-xl lg:text-4xl font-extrabold ">{heading}</h1>
				</div>
					<slot />
			<main>

				
		<div>
	</body>
</html>
<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
	@import url('../styles/globals.css');
</style>
